body{
    margin-top:50px;
}
.container{
    margin:50px auto;
    width:800px;
}

.panel-heading{
    margin-top:0;
}


.list-group-item .text-primary{
    cursor:pointer;
}
.msgList{
    margin-top:50px;
}